body {
    background: #5B5F97; /*need to review forms of color manipulation*/
    font-family: sans-serif;
    font-size: 20px;
}

.centrepage {
    width: 700px;
    background-color: #FFFFFB;
    margin: 20px auto;
    padding: 20px;
}

.title {
    font-size: 50px;
    text-align: center;
    background-color: #B8B8D1;
    margin: 0px;
    padding: 10px;
}

.fancy {
    font-style: italic;
    font-family: "Z003, Medium Italic";
    color: #FF6B6C;
}

li, a, a:visited {
    color: #FF6B6C;
}